* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.header {
    background-color: #f8e1db;
    padding: 20px 80px;
}

.header ul {
    margin-top: 20px;
}

.header li {
    display: inline;
    margin-right: 20px;
}

.header li a {
    color: black;
    text-decoration: none;
}

.header img {
    width: 50px;
}

/* start carousel */
.carousel {
    background-image: url(./Image/BG.png);
    height: 80vh;
    background-size: cover;
    background-position: center;
}
/* end carousel */

/* start activities */
.activities {
    padding: 80px 0px;
    background-color: #faf4f2;
}

.activities__content {
    margin-top: 0px;
}

.activities__title {
    text-align: center;
}

.activities__title h2 {
    color: #8d8d8d;
}

.activities__items {
    width: 25%;
    height:auto;
    padding: 30px;
    float: left;

}

.items__container {
    border-radius: 16px;
    background-color: white;
    width: 100%;
    padding: 30px;
}

.items__img {
    border-radius: 16px;
    overflow: hidden;
    position: relative;
}

.items__detail p {
    color: #9e9e9e;
}

.items__img .heart {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 1);
    top: 20px;
    right: 20px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
}

.heart i {
    line-height: 50px;
    color: #e76f51;
}

.items__img img {
    width: 100%;
}

.activities__items .items__detail {
    padding-top: 20px;
    text-align: center;
}

.activities__items .items__detail p {
    margin: 20px 0;
}

.activities__items .items__detail button {
    border: none;
    border-radius: 20px;
    padding: 15px 35px;
    text-transform: capitalize;
    background-color: #e8e8e8;
    color: #8d8d8d;
}

.view {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    color: #e76f51;
    border-color: #e76f51;
    margin: auto;
    display: block;
}
/* end activities */

/* Contact starts */
.contact {
    height: 390px;
    background-color: #f8e1db;
    border-radius: 0px 20px 20px 0px;
    margin-bottom: 100px;
}

.contact_left, .contact_right {
    float: left;
    width: 50%;
}

.contact_left {
    background: url(./Image/mask.png);
    background-size: cover;
    background-position: center;
}

.contact_right {
    padding-top: 70px;
}

.contact_right h3 {
    font-size: 30px;
    color: #8d8d8d;
}

.contact_right p {
    margin: 12px 0px 30px;
    font-size: 20px;
    color: #8d8d8d;
}

.contact_right i {
    color: #e76f51;
    font-size: 25px;
    padding-right: 10px;
}

.sub_contact_1 img {
    width: 49%;
}

.sub_contact_1 h4, .sub_contact_2 h4 {
    color: #8d8d8d;
    font-size: 25px;
    padding-bottom: 20px;
}
.sub_contact_1, .sub_contact_2 {
    float: left;
    width: 50%;
}

.sub_contact_2 {
    padding-left: 0px;
}
/* Contact ends */


/* Footer starts */
.footer {
    height: 450px;
    background-color: #f8e1db;
    padding: 110px 10px 10px 50px;
    line-height: 35px;
    border-radius: 70px 70px 0px 0px;
}

.f1, .f2, .f3, .f4 {
    float: left;
}

.f1 {
    width: 40%;
}

.f2 {
    width: 20%;
}

.f3 {
    width: 20%;
}

.f4 {
    width: 20%;
} 

.f5 {
    text-align: center;
    margin-top: 25px;
}
/* Footer ends */